<main class="d-flex flex-column justify-content-center align-items-center">
    <div>
     <div class="link mt-5">
         <ul class="d-flex gap-4 list-unstyled">
             <app-profile-admin></app-profile-admin>
             <div class="button-add-student">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Generer graph</button>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Generer graph</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form #addForm="ngForm" (ngSubmit)="postData(addForm)"  class="d-flex flex-column gap-3">
                            <div class="d-flex gap-2">
                                <span>pays</span>
                                <select name="country" [(ngModel)]="selectedValue" id="">
                                    <option *ngFor="let country of countries" class="selectCountry" [ngValue]="country.country">
                                        {{country.country}}
                                    </option>
                                </select>
                            </div>
     
                          <div class="d-flex gap-4 justify-content-center">
                            
                              <div class="">
                                <!-- <label for="recipient-name" class="col-form-label">Date de Debut</label>
                                <input type="month" class="form-control" id="recipient-name" name="startDate" #startDate="ngModel" ngModel>    -->
                                <span>date de debut</span> <br> <br>

                                <select name="startDate" #startDate="ngModel" ngModel id="">
                                    <option *ngFor="let data of dates"  class="" [ngValue]="data">
                                        {{data}}
                                    </option>
                                </select>

                              </div>

                              <div class="">
                                <!-- <label for="recipient-name" class="col-form-label">Date de fin</label>
                                <input type="month" class="form-control" id="recipient-name" name="endDate" #endDate="ngModel" ngModel> -->
                                <span>date de debut</span> <br> <br>

                                <select name="endDate" #startDate="ngModel" ngModel  id="">
                                    <option *ngFor="let data of dates"  class="selectCountry" [ngValue]="data">
                                        {{data}}
                                    </option>
                                </select>
                                
                              </div>
                          </div>
                          <div class="d-flex gap-2">
                            <!-- <div class="">
                              <label for="recipient-name" class="col-form-label">end month</label>
                              <input type="text" class="form-control" id="recipient-name" name="Adresse" #Adresse="ngModel" ngModel>
                            </div>
                            <div class="">
                              <label for="recipient-name" class="col-form-label">end year</label>
                              <input type="text" class="form-control" id="recipient-name" name="dateofjoin" #dateofjoin="ngModel" ngModel>
                            </div> -->
                          </div>
                          <div class="d-flex gap-2">
        
                          </div>
                          
                          <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button type="submit" name="submit" class="btn btn-primary">Generer</button>
                      </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
             <li><button class="btn btn-danger btn-nav" routerLink="" >Deconnecter</button></li>
         </ul>
     </div>
    </div>
    <div class="ngx d-flex gap-4 d-none">
      <ngx-charts-bar-vertical-2d
  [view]="view"
  
  [results]="graphData"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [legendTitle]="legendTitle"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)">
</ngx-charts-bar-vertical-2d>
      <!-- <table class="table">
        <thead>
            <tr>
                <th>country</th>
                <th>date</th>
                <th>nombre des cas</th>
                <th>nombre de mort</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let value of dataSelect">
                <td>{{value.country.country}}</td>
                <td>{{value.date.year+'-'+value.date.year}}</td>
                <td>{{value.caseno}}</td>
                <td>{{value.deathno}}</td>
            </tr>
        </tbody>
    </table> -->
      
    </div>
    <div class="container table-responsive contacts list-contacts">
        <select (change)="onchangex(selectedValue)" [(ngModel)]="selectedValue">
            <option *ngFor="let country of countries" class="selectCountry" [value]="country.country">
                {{country.country}}
            </option>
        </select>
        <!-- <select name="country" [(ngModel)]="selectedValue" id="">
            <option *ngFor="let country of countries" class="selectCountry" [ngValue]="country.country">
                {{country.country}}
            </option>
        </select> -->
        <table class="table">
            <thead>
                <tr>
                    <th>country</th>
                    <th>date</th>
                    <th>nombre des cas</th>
                    <th>nombre des mort</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let case of table">
                    <td>{{case.country.country}}</td>
                    <td>{{case.date.datename}}</td>
                    <td>{{case.caseno}}</td>
                    <td>{{case.deathno}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- <router-outlet></router-outlet> -->
    
 </main>
 <!-- <app-listemploye></app-listemploye> -->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>